<html>
<head>
 <title>WebApp Version 1.0</title>
</head>
<body>
 <h1 id="status" style="text-align:center;">{{userinputs[0].message}}</h1>
 <div style="text-align:center;">
 <form action="/write" method="POST" id="the_form" hidden>
  <input type="text" name="userinput" id="userinput">
  <input type="submit" value="Submit">
  <br><br>  
 </form>
 
  <button name="go" value="GO" onclick="go()">Go</button>
  <br>
  <button name="stop" value="STOP" onclick="stop()">Stop</button>
 
 </div>
 <a href="./deleteall" hidden>Delete all</a>
 <script>
 
   function go()
   {
   	document.getElementById("userinput").value = "GO";
   	document.getElementById("the_form").submit();
   }
   function stop()
   {
   	document.getElementById("userinput").value = "STOP";
   	document.getElementById("the_form").submit();
   }
   
   {
   	 
     if(document.getElementById("status").innerHTML == "GO")
     {
     	document.getElementById("status").style.color = "green";
     }
     else if(document.getElementById("status").innerHTML == "STOP")
     {
     	document.getElementById("status").style.color = "red";
     }
     else
     	document.getElementById("status").style.color = "black";
   }
 </script>
</body>

</html>
